.headerSection{
	height: 100px;
	width: 100%;
	background: gray;
	color: #fff;
	text-align: center;
	padding-top: 30px;
	border-radius: 15px 15px 0px 0px;
}
.nav_background{
	background: #4274CB;
}
.navText .nav-link{
	color: #fff !important;
	font-weight: bold;
	font-size: 18px;
}
.myBody{
	width: 100%;
	min-height: 400px;
	border: 2px solid gray;
}
.bodytext{
	text-align: justify;
	padding:40px

}